@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

header h3 {
  font-size: 28px;
  font-weight: 300;
}

header span {
  font-size: 16px;
  font-weight: 300;
}

.movie--title {
  text-align: center;
  margin-bottom: 1em;
}

.movie--description {
  font-size: 13px;
  font-weight: 300;
  color: #333;
  margin-bottom: 0.6em;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* display: none; */
  display: none;
}
.searchcard {
  margin: 10% auto;
  width: 400px;
  height: 550px;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17); */
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  position: relative;
  /* width: 50%; */
  background: #f4f4f4;
  padding: 1.2em;

  border: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  -webkit-box-shadow: 3px 6px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 6px 20px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

header {
  width: 90%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 40px;
}

header h3 {
  display: inline-block;
  margin-left: 1em;
}

header span {
  display: inline;
  padding-left: 0.6em;
}

/*Search Bar*/
.search {
  background-color: transparent;
  border: 2px solid #475d66;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(20, 20, 20);
}

.search:focus {
  outline: none;
  background-color: #7bafc4;
}

.search_btn {
  background-color: yellowgreen;
  border: 2px solid #475d66;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(20, 20, 20);
}

.search_btn:active {
  outline: none;
  background-color: green;
  color: white;
}

.inner-card {
  width: 90%;
  margin: auto;
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 0.5fr));
}

.inner-card .each-card {
  position: relative;
  /* width: 50%; */
  background: #f4f4f4;
  padding: 1.2em;
  margin: 3em 0;
  border: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  -webkit-box-shadow: 3px 6px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 6px 20px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* height: 800px; */
}

.inner-card .each-card .movie--poster {
  position: relative;
  width: 100%;
  height: 52%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
}
.movie--details {
  overflow-y: scroll;
  height: 30%;
  scrollbar-width: 10px;
  scrollbar-color: black #f4f4f4;
}
.movie--details::-webkit-scrollbar {
  width: 10px;
}
.movie--details::-webkit-scrollbar-thumb {
  background-color: black;
}
/*# sourceMappingURL=main.css.map */
.movie--details::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
.auto {
  margin: 10% auto;
}
.searchcard .closebtn {
  position: absolute;
  right: 28px;
  top: 21px;
  cursor: pointer;
}
.searchcard img {
  width: 350px;
  height: 250px;
  border-radius: 7px;
}
