@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
    .brand--logo {
        h3 {
            font-size: 24px;
            font-weight: 400;
        }
    }
    p {
        font-weight: 300;
        font-size: 14px;
        color: #444;
        margin-top: 0.3em;
        pointer-events: none;
    }
}

.movie--title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    color: white;

    position: absolute;
    display: inline-block;
    width: 80%;
    bottom: 9%;
    left: 50%;
    transform: translate(-50%, -9%);
}

.bottom {
    line-height: 1.535;
}
