@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

header {
    h3 {
        font-size: 24px;
        font-weight: 300;
    }
}

.movie--title {
    text-align: center;
    font-size: 20px;
}

.movie--release-date {
    font-size: 18px;
    font-weight: 300;
}

.movie--popularity {
    font-size: 18px;
    font-weight: 500;
}
